n8n/[Telegram] Daily Summary Report.json
{
    "name": "[Telegram] Daily Summary Report",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 13 * * *"
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Mỗi ngày 8PM SGT",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [0, 0]
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// DAILY SUMMARY REPORT\n// Node duy nhất: tính ngày, query Supabase, format tin nhắn\n// try/catch toàn bộ → luôn trả đúng 1 output item\n// ============================================================\n\nconst SUPABASE = 'https://fpesidoqwxyyutgvalsp.supabase.co/rest/v1';\nconst KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZwZXNpZG9xd3h5eXV0Z3ZhbHNwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTY3NDkzNywiZXhwIjoyMDkxMjUwOTM3fQ.X9s9a_rSNefhdd7UEsTulNB1xct4JK_QZe2UzIubPg8';\nconst HEADERS = { apikey: KEY, Authorization: `Bearer ${KEY}` };\nconst CHAT_ID = '-5163098733';\n\n// --- Tính ngày SGT ---\nconst now = new Date();\nconst SGT_OFFSET = 7 * 60 * 60 * 1000;\nconst sgtNow = new Date(now.getTime() + SGT_OFFSET);\nconst sgtDateStr = sgtNow.toISOString().split('T')[0];\nconst startDate = new Date(sgtDateStr + 'T00:00:00+07:00');\nconst endDate = now;\nconst [yyyy, mm, dd] = sgtDateStr.split('-');\nconst dateDisplay = `${dd}/${mm}/${yyyy}`;\n\nlet candidates = [];\nlet orders = [];\nlet errorNotes = '';\n\n// --- Query candidates (toàn bộ, filter ngày trong JS) ---\ntry {\n  const r = await fetch(`${SUPABASE}/candidates?select=id_ld,full_name,order_id,interview_status,synced_at&order=synced_at.desc&limit=500`, { headers: HEADERS });\n  const all = await r.json();\n  candidates = Array.isArray(all) ? all.filter(c => {\n    const t = new Date(c.synced_at);\n    return t >= startDate && t < endDate;\n  }) : [];\n} catch (e) {\n  errorNotes += `[candidates: ${e.message}] `;\n}\n\n// --- Query orders còn thiếu lao động ---\ntry {\n  const r = await fetch(`${SUPABASE}/orders?select=id,company_name,job_type,total_labor,labor_missing&labor_missing=gt.0&order=created_at.desc`, { headers: HEADERS });\n  const data = await r.json();\n  orders = Array.isArray(data) ? data : [];\n} catch (e) {\n  errorNotes += `[orders: ${e.message}] `;\n}\n\n// --- Format tin nhắn ---\nlet text = `📊 *BÁO CÁO NGÀY ${dateDisplay}*\\n`;\ntext += `━━━━━━━━━━━━━━━━━━\\n\\n`;\n\nif (candidates.length === 0) {\n  text += `🆕 *Ứng viên mới hôm nay:* Không có\\n`;\n} else {\n  text += `🆕 *Ứng viên mới hôm nay: ${candidates.length} người*\\n`;\n  const byOrder = {};\n  for (const c of candidates) {\n    const key = c.order_id || 'Chưa phân đơn';\n    if (!byOrder[key]) byOrder[key] = { pass: 0, fail: 0, pending: 0 };\n    const s = (c.interview_status || '').toLowerCase();\n    if (s === 'pass') byOrder[key].pass++;\n    else if (s === 'fail') byOrder[key].fail++;\n    else byOrder[key].pending++;\n  }\n  for (const [orderId, stats] of Object.entries(byOrder)) {\n    const total = stats.pass + stats.fail + stats.pending;\n    const parts = [];\n    if (stats.pass > 0) parts.push(`✅ ${stats.pass}`);\n    if (stats.fail > 0) parts.push(`❌ ${stats.fail}`);\n    if (stats.pending > 0) parts.push(`⏳ ${stats.pending}`);\n    text += `  📦 ${orderId}: ${total} người — ${parts.join(' / ')}\\n`;\n  }\n}\n\ntext += `\\n`;\n\nif (orders.length === 0) {\n  text += `📋 *Đơn hàng:* Tất cả đã đủ lao động 🎉`;\n} else {\n  const totalMissing = orders.reduce((s, o) => s + (parseInt(o.labor_missing) || 0), 0);\n  text += `📋 *Đơn hàng đang tuyển: ${orders.length} đơn — còn thiếu ${totalMissing} suất*\\n`;\n  for (const o of orders.slice(0, 8)) {\n    text += `  • ${o.company_name} — ${o.job_type}: còn thiếu *${o.labor_missing}/${o.total_labor}*\\n`;\n  }\n  if (orders.length > 8) text += `  _...và ${orders.length - 8} đơn khác_\\n`;\n}\n\nif (errorNotes) text += `\\n⚠️ _Lỗi query: ${errorNotes}_`;\n\nreturn [{ json: { text, chat_id: CHAT_ID } }];"
            },
            "id": "build-report",
            "name": "Tính Ngày + Query + Format",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [220, 0]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.telegram.org/bot8213635094:AAEziFudsLcEnKzDYJXyNqLQKEdPoSeHTmc/sendMessage",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ chat_id: $json.chat_id, text: $json.text, parse_mode: 'Markdown' }) }}",
                "options": {}
            },
            "id": "send-telegram",
            "name": "Gửi Telegram",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [440, 0]
        }
    ],
    "pinData": {},
    "connections": {
        "Mỗi ngày 8PM SGT": {
            "main": [
                [{"node": "Tính Ngày + Query + Format", "type": "main", "index": 0}]
            ]
        },
        "Tính Ngày + Query + Format": {
            "main": [
                [{"node": "Gửi Telegram", "type": "main", "index": 0}]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {"name": "telegram"},
        {"name": "daily-report"}
    ]
}
