n8n/Translate Entity.json
{
  "connections": {
    "Call OpenAI API": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse Translation Response",
            "type": "main"
          }
        ]
      ]
    },
    "Determine Table Name": {
      "main": [
        [
          {
            "index": 0,
            "node": "Fetch Entity Data",
            "type": "main"
          }
        ]
      ]
    },
    "Fetch Entity Data": {
      "main": [
        [
          {
            "index": 0,
            "node": "Prepare Translation Prompt",
            "type": "main"
          }
        ]
      ]
    },
    "Fetch Translation Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "Determine Table Name",
            "type": "main"
          }
        ]
      ]
    },
    "Parse Translation Response": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update Entity with Translation",
            "type": "main"
          }
        ]
      ]
    },
    "Prepare Translation Prompt": {
      "main": [
        [
          {
            "index": 0,
            "node": "Call OpenAI API",
            "type": "main"
          }
        ]
      ]
    },
    "Update Entity with Translation": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update Translation Request Completed",
            "type": "main"
          }
        ]
      ]
    },
    "Update Status to Processing": {
      "main": [
        [
          {
            "index": 0,
            "node": "Fetch Translation Request",
            "type": "main"
          }
        ]
      ]
    },
    "Update Translation Request Completed": {
      "main": [
        [
          {
            "index": 0,
            "node": "Respond Success",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update Status to Processing",
            "type": "main"
          }
        ]
      ]
    }
  },
  "name": "Translate Entity",
  "nodes": [
    {
      "id": "webhook-translate",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "translate-entity"
      },
      "position": [
        -176,
        -80
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "translate-entity-webhook"
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase Service Role"
        }
      },
      "id": "update-status-processing",
      "name": "Update Status to Processing",
      "parameters": {
        "columnMatch": {
          "columnToMatchOn": "id",
          "columnValueToMatch": "={{ $json.request_id }}",
          "dataToInsert": {
            "status": "processing"
          }
        },
        "operation": "update",
        "options": {},
        "table": "translation_requests"
      },
      "position": [
        48,
        -80
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase Service Role"
        }
      },
      "id": "fetch-translation-request",
      "name": "Fetch Translation Request",
      "parameters": {
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "operation": "read",
        "options": {},
        "table": "translation_requests"
      },
      "position": [
        272,
        -80
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "determine-table-name",
      "name": "Determine Table Name",
      "parameters": {
        "jsCode": "// Determine table name based on entity_type\nconst entityType = $input.first().json.entity_type;\nconst tableName = entityType === 'company' ? 'companies' : 'orders';\n\nreturn {\n  json: {\n    table_name: tableName,\n    entity_type: entityType,\n    entity_id: $input.first().json.entity_id,\n    fields_to_translate: $input.first().json.fields_to_translate\n  }\n};"
      },
      "position": [
        496,
        -80
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase Service Role"
        }
      },
      "id": "fetch-entity-data",
      "name": "Fetch Entity Data",
      "parameters": {
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "operation": "read",
        "options": {},
        "table": "={{ $json.table_name }}"
      },
      "position": [
        640,
        -80
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "prepare-translation-prompt",
      "name": "Prepare Translation Prompt",
      "parameters": {
        "jsCode": "const entityType = $('Determine Table Name').first().json.entity_type;\nconst fieldsToTranslate = $('Determine Table Name').first().json.fields_to_translate;\nconst entityData = $input.first().json;\n\nconst jsonToTranslate = {};\nfieldsToTranslate.forEach(field => {\n  const value = entityData[field] || '';\n  let destKey = field;\n  if (entityType === 'company') {\n    if (field === 'company_name') destKey = 'en_company_name';\n    else if (field === 'industry') destKey = 'en_industry';\n    else if (field === 'business_type') destKey = 'en_business_type';\n    else if (field === 'address') destKey = 'en_address';\n    else if (field === 'legal_rep') destKey = 'en_legal_rep';\n    else if (field === 'legal_rep_title') destKey = 'en_title';\n  } else {\n    destKey = field + '_en';\n  }\n  jsonToTranslate[destKey] = value;\n});\n\nconst prompt = `Translate the Vietnamese values in this JSON object to English. Return ONLY the translated JSON with the EXACT same keys:\n\n${JSON.stringify(jsonToTranslate, null, 2)}`;\n\nreturn { json: { prompt } };"
      },
      "position": [
        784,
        -80
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "nvidia-openai-credentials",
          "name": "NVIDIA OpenAI API"
        }
      },
      "id": "call-openai-api",
      "name": "Call OpenAI API",
      "parameters": {
        "authentication": "predefinedCredentialType",
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "name": "model"
        },
        "messages": {
          "values": [
            {
              "content": "You are a professional translator. Translate Vietnamese to English while maintaining context and professional tone. Return the result as a JSON object with field names as keys.",
              "role": "system"
            },
            {
              "content": "={{ $json.prompt }}",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 2000
        }
      },
      "position": [
        928,
        -80
      ],
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.2
    },
    {
      "id": "parse-translation-response",
      "name": "Parse Translation Response",
      "parameters": {
        "jsCode": "const content = $input.first().json.message?.content || $input.first().json.choices?.[0]?.message?.content || $input.first().json.output || $input.first().json.text;\nlet translatedData;\ntry {\n  translatedData = JSON.parse(content);\n} catch (e) {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  if (match) translatedData = JSON.parse(match[0]);\n  else throw new Error('Could not parse JSON');\n}\nreturn { json: { translated_data: translatedData } };"
      },
      "position": [
        1072,
        -80
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase Service Role"
        }
      },
      "id": "update-entity-with-translation",
      "name": "Update Entity with Translation",
      "parameters": {
        "columnMatch": {
          "columnToMatchOn": "id",
          "columnValueToMatch": "={{ $('Determine Table Name').first().json.entity_id }}",
          "dataToInsert": "={{ $json.translated_data }}"
        },
        "operation": "update",
        "options": {},
        "table": "={{ $('Determine Table Name').first().json.table_name }}"
      },
      "position": [
        1216,
        -80
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase Service Role"
        }
      },
      "id": "update-translation-request-completed",
      "name": "Update Translation Request Completed",
      "parameters": {
        "columnMatch": {
          "columnToMatchOn": "id",
          "columnValueToMatch": "={{ $('Fetch Translation Request').first().json.id }}",
          "dataToInsert": {
            "completed_at": "={{ $now.toISO() }}",
            "status": "completed",
            "translated_data": "={{ $json.translated_data }}"
          }
        },
        "operation": "update",
        "options": {},
        "table": "translation_requests"
      },
      "position": [
        1360,
        -80
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "respond-success",
      "name": "Respond Success",
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"translated_data\": {{ $json.translated_data }}\n}"
      },
      "position": [
        1504,
        -80
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-15T00:00:00.000Z",
  "versionId": "1"
}