n8n-workflows/T-2A-N8N-001-candidate-wizard.json
{
  "name": "T-2A-N8N-001 Candidate Wizard",
  "nodes": [
    {
      "id": "247d7f69-26f1-4b74-932a-ae9a3eb6ea40",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      },
      "webhookId": "fbd4d725-5956-498b-858f-df209446f2d3"
    },
    {
      "id": "f64ac52f-995c-495d-934d-5694e4a36149",
      "name": "Code: Parse Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "jsCode": "\nconst u = $input.item.json;\nconst p = {\n  update_id: u.update_id,\n  update_type: 'unknown',\n  chat_id: null, from_id: null,\n  text: null, callback_data: null, callback_query_id: null,\n  has_photo: false, has_video: false, file_id: null,\n};\nif (u.message) {\n  const m = u.message;\n  p.update_type = 'message';\n  p.chat_id   = m.chat && m.chat.id;\n  p.from_id   = m.from && m.from.id;\n  p.text      = m.text || null;\n  if (m.photo && m.photo.length > 0) {\n    p.has_photo = true;\n    const lg = m.photo.reduce((a,b) => ((a.file_size||0) > (b.file_size||0) ? a : b));\n    p.file_id = lg.file_id;\n  } else if (m.video) {\n    p.has_video = true;\n    p.file_id = m.video.file_id;\n  } else if (m.document) {\n    const mime = m.document.mime_type || '';\n    if (mime.startsWith('video/')) { p.has_video = true; p.file_id = m.document.file_id; }\n  }\n} else if (u.callback_query) {\n  const cb = u.callback_query;\n  p.update_type = 'callback_query';\n  p.chat_id   = cb.message && cb.message.chat && cb.message.chat.id;\n  p.from_id   = cb.from && cb.from.id;\n  p.callback_data     = cb.data || null;\n  p.callback_query_id = cb.id;\n}\nreturn [{ json: p }];\n"
      }
    },
    {
      "id": "29ac8aa6-6dde-402f-9fa7-5f52c560e701",
      "name": "HTTP: Get Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://fpesidoqwxyyutgvalsp.supabase.co/rest/v1/bot_sessions?chat_id=eq.{{ $json.chat_id }}&select=*",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "720c049a-b18a-4c34-8c1b-b3eda34e28e1",
      "name": "Code: State Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        300
      ],
      "parameters": {
        "jsCode": "\nconst update = $('Code: Parse Update').item.json;\nconst raw    = $input.item.json;\n\n// Supabase returns array for row queries\nconst session     = Array.isArray(raw) ? (raw[0] || null) : (raw && raw.chat_id ? raw : null);\nconst state       = session && session.current_step ? session.current_step : 'IDLE';\nconst sessionData = session && session.draft  ? session.draft  : {};\n\nconst chat_id           = update.chat_id;\nconst telegram_user_id  = update.from_id;\nconst update_type       = update.update_type;\nconst text              = update.text || '';\nconst callback_data     = update.callback_data || '';\nconst callback_query_id = update.callback_query_id || '';\nconst has_photo         = update.has_photo || false;\nconst has_video         = update.has_video || false;\nconst file_id           = update.file_id || '';\n\nfunction ynKb(prefix) {\n  return { inline_keyboard: [[\n    { text: 'Yes', callback_data: prefix + '_yes' },\n    { text: 'No',  callback_data: prefix + '_no'  },\n  ]] };\n}\n\nlet out = {\n  action_type: 'message_only',\n  chat_id, telegram_user_id, callback_query_id, state,\n  session_data: sessionData,\n  telegram_message: '',\n  telegram_reply_markup: null,\n  need_delete: false,\n  candidate_id: sessionData.candidate_id || null,\n  order_id: sessionData.order_id || null,\n  file_id: null, file_type: null,\n  new_state: null, new_data: null,\n};\n\n// Global /cancel\nif (text === '/cancel') {\n  out.action_type     = 'delete_end';\n  out.need_delete     = !!(sessionData.candidate_id);\n  out.candidate_id    = sessionData.candidate_id || null;\n  out.telegram_message = 'Cancelled.';\n  \nout.tg_body = JSON.stringify(Object.assign({chat_id:out.chat_id,text:out.telegram_message,parse_mode:'HTML'}, out.telegram_reply_markup ? {reply_markup:out.telegram_reply_markup} : {}));\nreturn [{ json: out }];\n}\n\nswitch (state) {\n  case 'IDLE':\n    if (text === '/add') {\n      out.action_type = 'list_orders';\n    } else {\n      out.telegram_message = 'Type /add to start adding a candidate.';\n    }\n    break;\n\n  case 'WAITING_ORDER_SELECTION':\n    if (update_type === 'callback_query' && callback_data.startsWith('order_')) {\n      const order_id = callback_data.substring(6);\n      out.action_type = 'session_and_message';\n      out.order_id    = order_id;\n      out.new_state   = 'WAITING_PASSPORT_UPLOAD';\n      out.new_data    = Object.assign({}, sessionData, { order_id });\n      out.telegram_message = \"Please upload the candidate's passport photo.\";\n    } else {\n      out.telegram_message = 'Please select an order from the list, or type /cancel to exit.';\n    }\n    break;\n\n  case 'WAITING_PASSPORT_UPLOAD':\n    if (has_photo) {\n      out.action_type = 'passport';\n      out.file_id     = file_id;\n      out.file_type   = 'photo';\n    } else {\n      out.telegram_message = 'Please send a photo of the passport.';\n    }\n    break;\n\n  case 'WAITING_PASSPORT_CONFIRM':\n    if (update_type === 'callback_query') {\n      if (callback_data === 'passport_confirm_yes') {\n        out.action_type = 'session_and_message';\n        out.new_state   = 'Q1';\n        out.new_data    = sessionData;\n        out.telegram_message   = 'Q1: Has the candidate reviewed all job materials and working conditions?';\n        out.telegram_reply_markup = ynKb('q1');\n      } else if (callback_data === 'passport_confirm_no') {\n        // Orphan the old candidate, go back to re-upload\n        out.action_type = 'session_and_message';\n        out.new_state   = 'WAITING_PASSPORT_UPLOAD';\n        out.new_data    = { order_id: sessionData.order_id };\n        out.telegram_message = 'Please re-upload the passport photo.';\n      }\n    } else {\n      out.telegram_message = 'Please use the Yes/No buttons to confirm the name.';\n    }\n    break;\n\n  case 'Q1':\n    if (update_type === 'callback_query' && (callback_data === 'q1_yes' || callback_data === 'q1_no')) {\n      out.action_type = 'session_and_message';\n      out.new_state   = 'Q2';\n      out.new_data    = Object.assign({}, sessionData, { q1_viewed_materials: callback_data === 'q1_yes' });\n      out.telegram_message      = 'Q2: Does the candidate agree to all contract terms and salary?';\n      out.telegram_reply_markup = ynKb('q2');\n    } else { out.telegram_message = 'Please use the Yes/No buttons.'; }\n    break;\n\n  case 'Q2':\n    if (update_type === 'callback_query' && (callback_data === 'q2_yes' || callback_data === 'q2_no')) {\n      out.action_type = 'session_and_message';\n      out.new_state   = 'Q3';\n      out.new_data    = Object.assign({}, sessionData, { q2_agrees_terms: callback_data === 'q2_yes' });\n      out.telegram_message      = 'Q3: Does the candidate agree to overtime work when required?';\n      out.telegram_reply_markup = ynKb('q3');\n    } else { out.telegram_message = 'Please use the Yes/No buttons.'; }\n    break;\n\n  case 'Q3':\n    if (update_type === 'callback_query' && (callback_data === 'q3_yes' || callback_data === 'q3_no')) {\n      out.action_type = 'session_and_message';\n      out.new_state   = 'Q4';\n      out.new_data    = Object.assign({}, sessionData, { q3_agrees_overtime: callback_data === 'q3_yes' });\n      out.telegram_message      = 'Q4: Does the candidate accept the provided food (may not meet dietary restrictions)?';\n      out.telegram_reply_markup = ynKb('q4');\n    } else { out.telegram_message = 'Please use the Yes/No buttons.'; }\n    break;\n\n  case 'Q4':\n    if (update_type === 'callback_query' && (callback_data === 'q4_yes' || callback_data === 'q4_no')) {\n      out.action_type = 'session_and_message';\n      out.new_state   = 'Q5';\n      out.new_data    = Object.assign({}, sessionData, { q4_accepts_food: callback_data === 'q4_yes' });\n      out.telegram_message      = 'Q5: Does the candidate agree to the prayer time arrangements at the workplace?';\n      out.telegram_reply_markup = ynKb('q5');\n    } else { out.telegram_message = 'Please use the Yes/No buttons.'; }\n    break;\n\n  case 'Q5':\n    if (update_type === 'callback_query' && (callback_data === 'q5_yes' || callback_data === 'q5_no')) {\n      out.action_type = 'session_and_message';\n      out.new_state   = 'Q6';\n      out.new_data    = Object.assign({}, sessionData, { q5_agrees_prayer: callback_data === 'q5_yes' });\n      out.telegram_message      = 'Q6: Does the candidate have any questions or concerns?';\n      out.telegram_reply_markup = ynKb('q6');\n    } else { out.telegram_message = 'Please use the Yes/No buttons.'; }\n    break;\n\n  case 'Q6':\n    if (update_type === 'callback_query') {\n      if (callback_data === 'q6_yes') {\n        out.action_type = 'session_and_message';\n        out.new_state   = 'WAITING_Q6_TEXT';\n        out.new_data    = Object.assign({}, sessionData, { q6_has_questions: true });\n        out.telegram_message = \"Please type the candidate's question(s):\";\n      } else if (callback_data === 'q6_no') {\n        out.action_type = 'session_and_message';\n        out.new_state   = 'Q7';\n        out.new_data    = Object.assign({}, sessionData, { q6_has_questions: false, q6_questions_text: 'None' });\n        out.telegram_message      = 'Q7: Does the candidate understand and accept the penalty clauses in the contract?';\n        out.telegram_reply_markup = ynKb('q7');\n      }\n    } else { out.telegram_message = 'Please use the Yes/No buttons.'; }\n    break;\n\n  case 'WAITING_Q6_TEXT':\n    if (update_type === 'message' && text && !text.startsWith('/')) {\n      out.action_type = 'session_and_message';\n      out.new_state   = 'Q7';\n      out.new_data    = Object.assign({}, sessionData, { q6_questions_text: text });\n      out.telegram_message      = 'Q7: Does the candidate understand and accept the penalty clauses in the contract?';\n      out.telegram_reply_markup = ynKb('q7');\n    } else { out.telegram_message = \"Please type the candidate's questions.\"; }\n    break;\n\n  case 'Q7':\n    if (update_type === 'callback_query') {\n      if (callback_data === 'q7_yes') {\n        out.action_type = 'session_and_message';\n        out.new_state   = 'WAITING_HEIGHT';\n        out.new_data    = Object.assign({}, sessionData, { q7_confirms_penalty: true });\n        out.telegram_message = 'Height (e.g. 5.5 for 5ft 5in):';\n      } else if (callback_data === 'q7_no') {\n        out.action_type  = 'delete_end';\n        out.need_delete  = true;\n        out.candidate_id = sessionData.candidate_id || null;\n        out.telegram_message = 'The candidate did not confirm the penalty clause. Process ended.';\n      }\n    } else { out.telegram_message = 'Please use the Yes/No buttons.'; }\n    break;\n\n  case 'WAITING_HEIGHT': {\n    const h = parseFloat(text);\n    if (update_type === 'message' && !isNaN(h) && h > 0) {\n      out.action_type = 'session_and_message';\n      out.new_state   = 'WAITING_WEIGHT';\n      out.new_data    = Object.assign({}, sessionData, { height_ft: h });\n      out.telegram_message = 'Weight in kg (e.g. 55):';\n    } else { out.telegram_message = 'Invalid input. Please enter a number for height (e.g. 5.5):'; }\n    break;\n  }\n\n  case 'WAITING_WEIGHT': {\n    const w = parseFloat(text);\n    if (update_type === 'message' && !isNaN(w) && w > 0) {\n      out.action_type = 'session_and_message';\n      out.new_state   = 'WAITING_AVATAR_UPLOAD';\n      out.new_data    = Object.assign({}, sessionData, { weight_kg: w });\n      out.telegram_message = \"Please upload the candidate's avatar photo.\";\n    } else { out.telegram_message = 'Invalid input. Please enter a number for weight (e.g. 55):'; }\n    break;\n  }\n\n  case 'WAITING_AVATAR_UPLOAD':\n    if (has_photo) {\n      out.action_type = 'avatar';\n      out.file_id     = file_id;\n      out.file_type   = 'photo';\n    } else { out.telegram_message = 'Please send a photo for the avatar.'; }\n    break;\n\n  case 'WAITING_VIDEO_UPLOAD':\n    if (has_video) {\n      out.action_type = 'finalize';\n      out.file_id     = file_id;\n      out.file_type   = 'video';\n    } else { out.telegram_message = 'Please send a video file.'; }\n    break;\n\n  default:\n    out.telegram_message = 'An error occurred. Type /cancel to restart.';\n    break;\n}\n\nout.tg_body = JSON.stringify(Object.assign({chat_id:out.chat_id,text:out.telegram_message,parse_mode:'HTML'}, out.telegram_reply_markup ? {reply_markup:out.telegram_reply_markup} : {}));\nreturn [{ json: out }];\n"
      }
    },
    {
      "id": "04aba27b-2a10-4353-82af-d05085aca914",
      "name": "Switch: Action Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1160,
        300
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "e5edb037-002f-4f17-931c-5d2eeea4f806",
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "message_only",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message_only"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "4a5484ce-015e-43e7-a7a2-98c9d5f42d35",
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "session_and_message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "session_and_message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "79e705c4-1f66-40b2-82e5-29d94d25632e",
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "list_orders",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "list_orders"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5a6688ba-eafe-48db-9e4c-33a9d65c18ce",
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "passport",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "passport"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "787c5280-295e-454f-b395-8b0a8702051a",
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "delete_end",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete_end"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "4c8b0942-42bd-4498-ae45-ec5c3df44a0c",
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "avatar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "avatar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "87c5bcb5-4b33-43de-b4b4-3a40f8c69cda",
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "finalize",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "finalize"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "d4dc79cf-28e2-4738-a70e-1705fbd52d74",
      "name": "HTTP: Send TG 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        80
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Code: State Engine').item.json.tg_body }}"
      }
    },
    {
      "id": "643ffcf3-f926-42fd-b6e0-6871ffd2ad23",
      "name": "HTTP: Upsert Session 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        240
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://fpesidoqwxyyutgvalsp.supabase.co/rest/v1/bot_sessions?on_conflict=chat_id",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({chat_id: $('Code: State Engine').item.json.chat_id,telegram_user_id: $('Code: State Engine').item.json.telegram_user_id,current_step:   $('Code: State Engine').item.json.new_state,draft:    $('Code: State Engine').item.json.new_data,last_activity_at: new Date().toISOString()}) }}"
      }
    },
    {
      "id": "5ed8bac4-7339-4dbc-8a3f-e53ac93181e6",
      "name": "HTTP: Send TG 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        240
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Code: State Engine').item.json.tg_body }}"
      }
    },
    {
      "id": "fd1d7c26-4e44-41d5-a452-157a1039d082",
      "name": "Code: Sign List Orders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        420
      ],
      "parameters": {
        "jsCode": "\nconst se = $('Code: State Engine').item.json;\nconst crypto = require('crypto');\nconst secret = $env.TELEGRAM_BRIDGE_SECRET;\nconst payload = { action: 'list_orders', telegram_user_id: se.telegram_user_id };\nconst timestamp = Math.floor(Date.now() / 1000).toString();\nconst rawBody = JSON.stringify(payload);\nconst sig = crypto.createHmac('sha256', secret).update(timestamp + '.' + rawBody, 'utf8').digest('hex');\nreturn [{ json: { payload, timestamp, signature: sig, chat_id: se.chat_id, callback_query_id: se.callback_query_id } }];\n"
      }
    },
    {
      "id": "7df301c5-889a-43b2-82b3-49a08da1baee",
      "name": "HTTP: Call List Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL }}/api/telegram/candidate",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-bridge-timestamp",
              "value": "={ $('Code: Sign List Orders').item.json.timestamp }"
            },
            {
              "name": "x-bridge-signature",
              "value": "={ $('Code: Sign List Orders').item.json.signature }"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ JSON.stringify($('Code: Sign List Orders').item.json.payload) }"
      }
    },
    {
      "id": "af5c33a1-53b9-4287-a305-e1aed765a647",
      "name": "Code: Handle List Orders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        420
      ],
      "parameters": {
        "jsCode": "\nconst resp = $input.item.json;\nconst se   = $('Code: State Engine').item.json;\nlet newState, newData, message, markup = null;\n\nif (resp.error === 'AGENT_NOT_LINKED') {\n  message  = 'Your Telegram account is not linked to any agent. Please contact admin.';\n  newState = 'IDLE'; newData = {};\n} else if (resp.orders) {\n  const orders = resp.orders;\n  if (orders.length === 0) {\n    message = 'You have no active orders assigned.'; newState = 'IDLE'; newData = {};\n  } else {\n    const keyboard = orders.map(o => [{\n      text: (o.job_type_en || 'Order') + ' — ' + (o.company_name_en || '') +\n            ' (' + o.current_count + '/' + o.total_labor + ')',\n      callback_data: 'order_' + o.order_id,\n    }]);\n    message  = 'Select an order:';\n    newState = 'WAITING_ORDER_SELECTION';\n    newData  = {};\n    markup   = { inline_keyboard: keyboard };\n  }\n} else {\n  message = 'An error occurred. Please try again or type /cancel.'; newState = 'IDLE'; newData = {};\n}\nconst tg_body = JSON.stringify(Object.assign({chat_id:se.chat_id,text:message,parse_mode:'HTML'}, markup ? {reply_markup:markup} : {}));\nreturn [{ json: {\n  chat_id: se.chat_id, callback_query_id: se.callback_query_id,\n  new_state: newState, new_data: newData,\n  telegram_message: message, telegram_reply_markup: markup, tg_body,\n} }];\n"
      }
    },
    {
      "id": "0746e1d5-f3e8-4a3f-8314-f4edd0012bb6",
      "name": "HTTP: Upsert Session 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://fpesidoqwxyyutgvalsp.supabase.co/rest/v1/bot_sessions?on_conflict=chat_id",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({chat_id: $('Code: Handle List Orders').item.json.chat_id,telegram_user_id: $('Code: State Engine').item.json.telegram_user_id,current_step:   $('Code: Handle List Orders').item.json.new_state,draft:    $('Code: Handle List Orders').item.json.new_data,last_activity_at: new Date().toISOString()}) }}"
      }
    },
    {
      "id": "19dbbd0f-8e1d-4e9f-8f26-e2e7273b1021",
      "name": "HTTP: Send TG 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Code: Handle List Orders').item.json.tg_body }}"
      }
    },
    {
      "id": "af69f6c4-a80c-4817-b8c4-5e7d8289a15b",
      "name": "HTTP: Get Passport File Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        620
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getFile?file_id={{ $('Code: State Engine').item.json.file_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {}
      }
    },
    {
      "id": "8227d988-5b46-47c2-a92a-52a37ed54fae",
      "name": "HTTP: Download Passport File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        620
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/file/bot{{ $env.TELEGRAM_BOT_TOKEN }}/{{ $json.result.file_path }}",
        "authentication": "none",
        "sendHeaders": false,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "1ae728d9-7b70-4ca5-82ea-860a503369c3",
      "name": "Code: Sign Passport",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        620
      ],
      "parameters": {
        "jsCode": "\nconst se  = $('Code: State Engine').item.json;\nconst bin = $input.item.binary;\nconst base64Image = bin && bin.data ? bin.data.data : '';\nconst crypto = require('crypto');\nconst secret = $env.TELEGRAM_BRIDGE_SECRET;\nconst payload = {\n  action: 'create_passport',\n  telegram_user_id: se.telegram_user_id,\n  order_id: se.order_id || (se.session_data && se.session_data.order_id) || '',\n  chat_id: se.chat_id,\n  image_base64: base64Image,\n  force_update: false,\n};\nconst timestamp = Math.floor(Date.now() / 1000).toString();\nconst rawBody = JSON.stringify(payload);\nconst sig = crypto.createHmac('sha256', secret).update(timestamp + '.' + rawBody, 'utf8').digest('hex');\nreturn [{ json: { payload, timestamp, signature: sig, chat_id: se.chat_id, callback_query_id: se.callback_query_id } }];\n"
      }
    },
    {
      "id": "ccfd8bf3-2e3e-4868-ab88-45a468a62ce9",
      "name": "HTTP: Call Create Passport",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        620
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL }}/api/telegram/candidate",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-bridge-timestamp",
              "value": "={ $('Code: Sign Passport').item.json.timestamp }"
            },
            {
              "name": "x-bridge-signature",
              "value": "={ $('Code: Sign Passport').item.json.signature }"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ JSON.stringify($('Code: Sign Passport').item.json.payload) }"
      }
    },
    {
      "id": "3c7edb4a-8ab8-43db-80a5-9f55513425e4",
      "name": "Code: Handle Passport Resp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        620
      ],
      "parameters": {
        "jsCode": "\nconst resp = $input.item.json;\nconst se   = $('Code: State Engine').item.json;\nlet newState, newData, message, markup = null;\n\nif (resp.candidate_id && !resp.duplicate) {\n  const candId = resp.candidate_id;\n  newState = 'WAITING_PASSPORT_CONFIRM';\n  newData  = Object.assign({}, se.session_data, {\n    candidate_id: candId,\n    order_id: se.order_id || (se.session_data && se.session_data.order_id),\n  });\n  if (resp.ocr_success) {\n    const parts = candId.split('_');\n    const cleanName = parts.slice(1).join(' ');\n    message = 'Passport detected. Name: ' + cleanName + '\\nIs this correct?';\n  } else {\n    message = 'Could not read passport clearly. Name will be entered manually later.\\nContinue with this passport?';\n  }\n  markup = { inline_keyboard: [[\n    { text: 'Yes', callback_data: 'passport_confirm_yes' },\n    { text: 'No',  callback_data: 'passport_confirm_no'  },\n  ]] };\n} else if (resp.duplicate) {\n  const ex = resp.existing || {};\n  message  = 'This candidate already exists: ' + (ex.full_name || ex.id_ld || 'unknown') +\n             '. Type /cancel or send a different passport.';\n  newState = 'WAITING_PASSPORT_UPLOAD';\n  newData  = se.session_data;\n} else if (resp.error === 'AGENT_NOT_LINKED') {\n  message = 'Your Telegram account is not linked to any agent. Please contact admin.';\n  newState = 'IDLE'; newData = {};\n} else if (resp.error === 'ORDER_NOT_ASSIGNED') {\n  message = 'You are not assigned to this order.'; newState = 'IDLE'; newData = {};\n} else {\n  message = 'An error occurred. Please try again or type /cancel.';\n  newState = se.state; newData = se.session_data;\n}\nconst tg_body = JSON.stringify(Object.assign({chat_id:se.chat_id,text:message,parse_mode:'HTML'}, markup ? {reply_markup:markup} : {}));\nreturn [{ json: {\n  chat_id: se.chat_id, callback_query_id: se.callback_query_id,\n  new_state: newState, new_data: newData,\n  telegram_message: message, telegram_reply_markup: markup, tg_body,\n} }];\n"
      }
    },
    {
      "id": "a2fd2bcb-f6ed-450b-a592-78385c1635f1",
      "name": "HTTP: Upsert Session 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        620
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://fpesidoqwxyyutgvalsp.supabase.co/rest/v1/bot_sessions?on_conflict=chat_id",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({chat_id: $('Code: Handle Passport Resp').item.json.chat_id,telegram_user_id: $('Code: State Engine').item.json.telegram_user_id,current_step:   $('Code: Handle Passport Resp').item.json.new_state,draft:    $('Code: Handle Passport Resp').item.json.new_data,last_activity_at: new Date().toISOString()}) }}"
      }
    },
    {
      "id": "f9a8a173-82fa-4a82-94b8-19aacb7442ac",
      "name": "HTTP: Send TG 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        620
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Code: Handle Passport Resp').item.json.tg_body }}"
      }
    },
    {
      "id": "8e8b3526-7ee9-48b7-ba51-ac82c4a4e147",
      "name": "IF: Need Delete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        840
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5ad44cd1-2c5c-40f1-b74c-709cc020a000",
              "leftValue": "={{ $json.need_delete }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "65a7f1fc-ef44-40dd-9ef6-c547266f9024",
      "name": "Code: Sign Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        780
      ],
      "parameters": {
        "jsCode": "\nconst se = $('Code: State Engine').item.json;\nconst crypto = require('crypto');\nconst secret = $env.TELEGRAM_BRIDGE_SECRET;\nconst payload = {\n  action: 'delete_candidate',\n  telegram_user_id: se.telegram_user_id,\n  candidate_id: se.candidate_id,\n};\nconst timestamp = Math.floor(Date.now() / 1000).toString();\nconst rawBody = JSON.stringify(payload);\nconst sig = crypto.createHmac('sha256', secret).update(timestamp + '.' + rawBody, 'utf8').digest('hex');\nreturn [{ json: { payload, timestamp, signature: sig } }];\n"
      }
    },
    {
      "id": "9623f088-cf9e-428c-aa0a-50cb55f77349",
      "name": "HTTP: Call Delete Candidate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        780
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL }}/api/telegram/candidate",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-bridge-timestamp",
              "value": "={ $('Code: Sign Delete').item.json.timestamp }"
            },
            {
              "name": "x-bridge-signature",
              "value": "={ $('Code: Sign Delete').item.json.signature }"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ JSON.stringify($('Code: Sign Delete').item.json.payload) }"
      }
    },
    {
      "id": "aab66117-57c7-4292-b3e8-4acbebf77505",
      "name": "Merge: Delete Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2160,
        840
      ],
      "parameters": {
        "mode": "passThrough",
        "output": "any",
        "options": {}
      }
    },
    {
      "id": "832c14b7-6b49-4b61-853c-4f74fcf427fe",
      "name": "HTTP: Delete Session 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        840
      ],
      "parameters": {
        "method": "DELETE",
        "url": "=https://fpesidoqwxyyutgvalsp.supabase.co/rest/v1/bot_sessions?chat_id=eq.{{ $('Code: State Engine').item.json.chat_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "876b7076-099e-45f6-bfb5-e8c49acc9d36",
      "name": "HTTP: Send TG 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        840
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Code: State Engine').item.json.tg_body }}"
      }
    },
    {
      "id": "bd4e1496-510c-4b48-907c-c72b6a4e9e4f",
      "name": "HTTP: Get Avatar File Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        1040
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getFile?file_id={{ $('Code: State Engine').item.json.file_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {}
      }
    },
    {
      "id": "5caead86-4eda-4613-a72b-9764e7595f21",
      "name": "Code: Build Avatar URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        1040
      ],
      "parameters": {
        "jsCode": "\nconst resp = $input.item.json;\nconst se   = $('Code: State Engine').item.json;\nconst filePath  = resp.result && resp.result.file_path ? resp.result.file_path : '';\nconst avatarUrl = 'https://api.telegram.org/file/bot' + $env.TELEGRAM_BOT_TOKEN + '/' + filePath;\nconst newData = Object.assign({}, se.session_data, { avatar_url: avatarUrl });\nreturn [{ json: {\n  chat_id: se.chat_id, callback_query_id: se.callback_query_id,\n  new_state: 'WAITING_VIDEO_UPLOAD', new_data: newData,\n  telegram_message: 'Please send the candidate\\'s video.',\n  telegram_reply_markup: null,\n  tg_body: JSON.stringify({chat_id:se.chat_id,text:'Please send the candidate\\'s video.',parse_mode:'HTML'}),\n} }];\n"
      }
    },
    {
      "id": "90aa0b03-16f4-495d-8fd3-a10e1c393504",
      "name": "HTTP: Upsert Session 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        1040
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://fpesidoqwxyyutgvalsp.supabase.co/rest/v1/bot_sessions?on_conflict=chat_id",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({chat_id: $('Code: Build Avatar URL').item.json.chat_id,telegram_user_id: $('Code: State Engine').item.json.telegram_user_id,current_step:   $('Code: Build Avatar URL').item.json.new_state,draft:    $('Code: Build Avatar URL').item.json.new_data,last_activity_at: new Date().toISOString()}) }}"
      }
    },
    {
      "id": "76e33679-6bac-44b5-bd55-bb8ec8b83958",
      "name": "HTTP: Send TG 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        1040
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Code: Build Avatar URL').item.json.tg_body }}"
      }
    },
    {
      "id": "25dd32cf-84f7-4515-acd5-2ca472f1e9a3",
      "name": "HTTP: Get Video File Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        1240
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getFile?file_id={{ $('Code: State Engine').item.json.file_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {}
      }
    },
    {
      "id": "e97fab83-e7d9-4226-ac54-cc0a05e8bd7a",
      "name": "Code: Sign Finalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        1240
      ],
      "parameters": {
        "jsCode": "\nconst fileResp = $input.item.json;\nconst se       = $('Code: State Engine').item.json;\nconst sd       = se.session_data || {};\nconst filePath = fileResp.result && fileResp.result.file_path ? fileResp.result.file_path : '';\nconst videoUrl = 'https://api.telegram.org/file/bot' + $env.TELEGRAM_BOT_TOKEN + '/' + filePath;\n\nconst candidateConfirmed = {\n  q1_viewed_materials: sd.q1_viewed_materials !== undefined ? sd.q1_viewed_materials : false,\n  q2_agrees_terms:     sd.q2_agrees_terms     !== undefined ? sd.q2_agrees_terms     : false,\n  q3_agrees_overtime:  sd.q3_agrees_overtime  !== undefined ? sd.q3_agrees_overtime  : false,\n  q4_accepts_food:     sd.q4_accepts_food     !== undefined ? sd.q4_accepts_food     : false,\n  q5_agrees_prayer:    sd.q5_agrees_prayer    !== undefined ? sd.q5_agrees_prayer    : false,\n  q6_has_questions:    sd.q6_has_questions    !== undefined ? sd.q6_has_questions    : false,\n  q6_questions_text:   sd.q6_questions_text   || 'None',\n  q7_confirms_penalty: sd.q7_confirms_penalty !== undefined ? sd.q7_confirms_penalty : false,\n};\n\nconst crypto = require('crypto');\nconst secret = $env.TELEGRAM_BRIDGE_SECRET;\nconst payload = {\n  action: 'finalize',\n  telegram_user_id: se.telegram_user_id,\n  candidate_id: sd.candidate_id || '',\n  height_ft:    sd.height_ft    || 0,\n  weight_kg:    sd.weight_kg    || 0,\n  avatar_url:   sd.avatar_url   || '',\n  video_urls:   [videoUrl],\n  candidate_confirmed: candidateConfirmed,\n};\nconst timestamp = Math.floor(Date.now() / 1000).toString();\nconst rawBody = JSON.stringify(payload);\nconst sig = crypto.createHmac('sha256', secret).update(timestamp + '.' + rawBody, 'utf8').digest('hex');\nreturn [{ json: { payload, timestamp, signature: sig, chat_id: se.chat_id } }];\n"
      }
    },
    {
      "id": "6dde2d49-7e8c-41bb-b318-ee23d26d54b8",
      "name": "HTTP: Call Finalize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        1240
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL }}/api/telegram/candidate",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-bridge-timestamp",
              "value": "={ $('Code: Sign Finalize').item.json.timestamp }"
            },
            {
              "name": "x-bridge-signature",
              "value": "={ $('Code: Sign Finalize').item.json.signature }"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ JSON.stringify($('Code: Sign Finalize').item.json.payload) }"
      }
    },
    {
      "id": "26fffc9f-b8b8-4974-ab31-55f6edc9b5c5",
      "name": "Code: Handle Finalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        1240
      ],
      "parameters": {
        "jsCode": "\nconst resp  = $input.item.json;\nconst se    = $('Code: State Engine').item.json;\nconst appUrl = $env.APP_URL || '';\nlet message;\nif (resp.web_url) {\n  message = 'Candidate finalized! View at: ' + appUrl + resp.web_url;\n} else if (resp.error) {\n  message = 'Finalize error: ' + resp.error + '. Please contact admin.';\n} else {\n  message = 'Candidate finalized. Check the portal for details.';\n}\nreturn [{ json: { chat_id: se.chat_id, telegram_message: message,\n  tg_body: JSON.stringify({chat_id:se.chat_id,text:message,parse_mode:'HTML'}) } }];\n"
      }
    },
    {
      "id": "2dda65f1-47e0-4f82-9750-3c1ab6a1cb48",
      "name": "HTTP: Delete Session 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        1240
      ],
      "parameters": {
        "method": "DELETE",
        "url": "=https://fpesidoqwxyyutgvalsp.supabase.co/rest/v1/bot_sessions?chat_id=eq.{{ $('Code: State Engine').item.json.chat_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "605f7bb1-27f4-43de-afb5-fdcb3c0d64e5",
      "name": "HTTP: Send TG 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        1240
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('Code: Handle Finalize').item.json.tg_body }}"
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code: Parse Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse Update": {
      "main": [
        [
          {
            "node": "HTTP: Get Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get Session": {
      "main": [
        [
          {
            "node": "Code: State Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: State Engine": {
      "main": [
        [
          {
            "node": "Switch: Action Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Action Type": {
      "main": [
        [
          {
            "node": "HTTP: Send TG 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Upsert Session 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Sign List Orders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Get Passport File Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: Need Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Get Avatar File Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Get Video File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Upsert Session 2": {
      "main": [
        [
          {
            "node": "HTTP: Send TG 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Sign List Orders": {
      "main": [
        [
          {
            "node": "HTTP: Call List Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Call List Orders": {
      "main": [
        [
          {
            "node": "Code: Handle List Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Handle List Orders": {
      "main": [
        [
          {
            "node": "HTTP: Upsert Session 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Upsert Session 3": {
      "main": [
        [
          {
            "node": "HTTP: Send TG 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get Passport File Info": {
      "main": [
        [
          {
            "node": "HTTP: Download Passport File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Download Passport File": {
      "main": [
        [
          {
            "node": "Code: Sign Passport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Sign Passport": {
      "main": [
        [
          {
            "node": "HTTP: Call Create Passport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Call Create Passport": {
      "main": [
        [
          {
            "node": "Code: Handle Passport Resp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Handle Passport Resp": {
      "main": [
        [
          {
            "node": "HTTP: Upsert Session 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Upsert Session 4": {
      "main": [
        [
          {
            "node": "HTTP: Send TG 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Need Delete": {
      "main": [
        [
          {
            "node": "Code: Sign Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge: Delete Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Sign Delete": {
      "main": [
        [
          {
            "node": "HTTP: Call Delete Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Call Delete Candidate": {
      "main": [
        [
          {
            "node": "Merge: Delete Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: Delete Paths": {
      "main": [
        [
          {
            "node": "HTTP: Delete Session 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Delete Session 5": {
      "main": [
        [
          {
            "node": "HTTP: Send TG 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get Avatar File Info": {
      "main": [
        [
          {
            "node": "Code: Build Avatar URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Avatar URL": {
      "main": [
        [
          {
            "node": "HTTP: Upsert Session 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Upsert Session 6": {
      "main": [
        [
          {
            "node": "HTTP: Send TG 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get Video File Info": {
      "main": [
        [
          {
            "node": "Code: Sign Finalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Sign Finalize": {
      "main": [
        [
          {
            "node": "HTTP: Call Finalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Call Finalize": {
      "main": [
        [
          {
            "node": "Code: Handle Finalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Handle Finalize": {
      "main": [
        [
          {
            "node": "HTTP: Delete Session 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Delete Session 7": {
      "main": [
        [
          {
            "node": "HTTP: Send TG 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1fca34c6-1757-4fb4-b185-b4540095fdaf",
  "id": "99f390cd-7359-4b0a-85f1-cddd24e38389",
  "meta": {
    "instanceId": "local"
  }
}